<!--menu alanı-->

<header class="dbheader">
  <div class="dblogo">
    <a href="/">Arunrest</a>
  </div>
  <nav class="dbmenu">
    <ul>

      <% if(user) { %>
        <li><a class="<%= link ==='index' && 'active' %>" href="/">Home</a></li>
        <li><a class="<%= link ==='users' && 'active' %>" href="/users">Users</a></li>
        <li><a class="<%= link ==='about' && 'active' %>" href="/about">About</a></li>
        <li><a class="<%= link ==='contact' && 'active' %>" href="/contact">Contact</a></li>

        
        
        <li><a class="<%= link ==='dashboard' && 'active' %>" href="/users/dashboard">Profile</a></li>
        <li><a href="/logout">Log-out</a></li>
        <% } else { %>

          <% } %>





    </ul>
  </nav>
</header>



<!--end of the menu alanı-->