<%- include("partials/_header") %>



  <body style="background-color: #f5f5f5;">


    <!-- loader  -->

    <div class="loader_bg">
      <div class="loader"><img src="images\loading3.gif" alt="#" /></div>
    </div>

    <!-- end loader -->

    <!-- header -->

    <%- include("partials/_menu") %>

      <!-- end header-->


      <div class="aboutcontainer">







        <!-- members -->
        <div class="users_info">
          <div class="photos_numbers">

            <h3>
             Posts
            </h3>

            <div class="phtnumber">
              <%= numOfPhotos %>
            </div>

          </div>

          <div class="users_numbers">

            <h3>
             Users
            </h3>

            <div class="usrsnumber">
              <%= numOfUser %>
            </div>

          </div>
        </div>
        <!-- end members -->

        <!--ABOUT ME and contact BAŞLANGICI-->



        <!--CONTACT  me   BAŞLANGICI-->







        <!--sosyal medya yerleri-->
        <div>
          <div class="Authorsection_title">
            <h2>Designer&Coding</h2>
          </div>

          <div class="aboutcontainer">


            <div class="Authorcard">
              <img src="/images/mypicture.jpg" alt="Admin" class="Authorcard__image">
              <p class="Authorcard__name">Süleyman kılınç</p>
              <div class="Authorgrid-container">

                <div class="Authorgrid-child-posts">
                  0 Post
                </div>

                <div class="Authorgrid-child-followers">
                  108 followers
                </div>

              </div>
              <ul class="Authorsocial-icons">
                <li><a href="https://www.instagram.com/su1eymank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.instagram.com/su1eymank"><i class="fa fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/su1eymank"><i class="fa fa-linkedin"></i></a></li>

              </ul>
            </div>

          </div>
        </div>

        <!--sosyal medya yerleri sonu-->




        <!--CONTACT me SONU-->
      </div>






      <!-- footer -->

      <%- include("partials/_footer") %>


        <!-- end footer -->