<%- include("partials/_header") %>

  <!-- body -->

  <body style="background-color: #f5f5f5;">

    <!-- loader  -->

    <div class="loader_bg">
      <div class="loader"><img src="images/loading3.gif" alt="#" /></div>
    </div>

    <!-- end loader -->


    <!-- header -->
    <%- include("partials/_menu") %>

      <!-- end header inner -->


      <!-- contact -->


      <form id="request" class="contactform" action="/contact" method="POST">
        <div style="display: none;" class="confirmmsge" id="sendMessage"></div>
        <input class="contactinput" placeholder="Username" id="usernameField" type="text" name="name" required readonly>
        <input class="contactinput" placeholder="E-mail" id="emailField" type="email" name="email" required readonly>
        <textarea class="contacttextarea" placeholder="Message" name="message" required></textarea>
        <button class="contactbtn" type="submit">Send</button>
      </form>


      <!-- end contact -->
      <!-- end footer -->

      <script>

        var username = "<%= user.username %>";
        var email = "<%= user.email %>";

        document.getElementById("usernameField").value = username;
        document.getElementById("emailField").value = email;

      </script>



      <script>


        const form = document.querySelector('form');
        const sendMessage = document.querySelector('#sendMessage');

        form.addEventListener("submit", async (e) => {
          e.preventDefault();

          const name = form.name.value;
          const email = form.email.value;
          const message = form.message.value;



          // Kullanıcı adı en az 4 karakterden oluşmalı
          if (name.trim().length < 4) { // trim() ile baştaki ve sondaki boşlukları kaldırın
            sendMessage.textContent = "Kullanıcı adı en az 4 karakterden oluşmalı.";
            sendMessage.style.display = "block";
            setTimeout(() => {
              sendMessage.style.display = "none";
            }, 6000);
            return;
          }




          // Mesaj en az 3 en fazla 40 kelime içermeli
          const messageWords = message.trim().split(' '); // trim() ile baştaki ve sondaki boşlukları kaldırın
          if (messageWords.some(word => word === "")) { // Boşlukları içeren kelimeleri kontrol et
            sendMessage.textContent = "Boşluklu mesajlar kabul edilmez!";
            sendMessage.style.display = "block";
            setTimeout(() => {
              sendMessage.style.display = "none";
            }, 5000);
            return;
          } else if (messageWords.length < 3 || messageWords.length > 40) { // Kelime sayısı kontrolü
            sendMessage.textContent = "Mesaj en az 3 en fazla 40 kelime içermeli!";
            sendMessage.style.display = "block";
            setTimeout(() => {
              sendMessage.style.display = "none";
            }, 5000);
            return;
          }


          // Zorunlu alanları kontrol et
          if (!name || !email || !message) {
            sendMessage.textContent = "Lütfen tüm alanları doldurun.";
            sendMessage.style.display = "block";
            setTimeout(() => {
              sendMessage.style.display = "none";
            }, 4000);
            return;
          }

          try {
            const res = await fetch('/contact', {
              method: "POST",
              body: JSON.stringify({ name, email, message }),
              headers: { "Content-Type": "application/json" }
            });

            const data = await res.json();

            if (data.succeeded) {
              sendMessage.textContent = "Mesajınız başarılı bir şekilde iletildi.";
              sendMessage.style.display = "block";
              sendMessage.style.color = "red";

              setTimeout(() => {
                sendMessage.style.display = "none";

                // Sadece mesaj alanını sıfırla
                form.message.value = "";

              }, 1000);
            }

          } catch (err) {
            console.log("ERR::", err);
          }
        });


      </script>




      <%- include("partials/_footer") %>