<%- include("partials/_header") %>

    <!-- body -->

    <body>

        <!-- loader  -->

        <div class="loader_bg">
            <div class="loader"><img src="/images/loading2.gif" alt="#" /></div>
        </div>

        <!-- end loader -->

        <%- include("partials/_menu") %>


            <!--dashboard-->
            <div class="dashboard">

                <div class="dashboardlinks">
                    <h2
                        style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 1rem; font-size: 18px; color: crimson; font-weight: bolder; text-transform: uppercase;">

                        <% const now=new Date(); const hour=now.getHours(); let greeting="" ; if (hour>= 5 &&
                            hour < 12) { greeting="Günaydın" ; } else if (hour>= 12 && hour < 18) {
                                    greeting="İyi günler" ; } else if (hour>= 18 && hour < 22) { greeting="İyi akşamlar"
                                        ; } else { greeting="İyi geceler" ; } %>
                                        <%= greeting %>
                                            <%= user.itsname %>
                                                <%= user.itssurname %>
                    </h2>



                    <button id="openModalBtn" class="add-photo-btn" type="button">
                        <i class="far fa-share-square"></i>Share
                    </button>


                 

                    <ul>

                        <li>
                            <a style="margin-top: 2rem;" href="/profile" class="dashboard-link">
                                <i class="fas fa-user-alt"></i>
                                <span>Profil</span>
                            </a>
                        </li>

                        <li>
                            <a href="/posts" class="dashboard-link">
                                <i class="fa fa-share"></i>
                                <span>Posts</span>
                            </a>
                        </li>

                           <li>
                            <a href="/followings" class="dashboard-link">
                                <i class="fas fa-users"></i>
                                <span>followers</span>
                            </a>
                        </li>

                        <li>
                            <a href="/followers" class="dashboard-link">
                                <i class="fas fa-user-friends"></i>
                                <span>Followings</span>
                            </a>
                        </li>

                     

                        <li>
                            <a href="/settings" class="dashboard-link">
                                <i class="fas fa-cog"></i>
                                <span>Ayarlar</span>
                            </a>
                        </li>

                        <li>
                            <a href="/logout">
                                <i class="fas fa-sign-out-alt"></i>
                                <span>Çıkış Yap</span>
                            </a>
                        </li>




                    </ul>

                </div>

                <!-- İçerik alanı -->
                <div class="iframecontent">


                </div>

                <!-- end of the dashboard-->






                <!--foto ekleme-->











                <div class="foto_ekleme_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true">



                    <div class="dbmodal">


                        <div class="dbmodal_header">
                            <h2>Add New Post</h2>
                            <span id="closeModalBtn" style="
                                                
                                                color: red;
                                                cursor: pointer;">Cancel</span>
                        </div>


                        <form id="request" class="dbmain_form" method="POST" action="/photos"
                            enctype="multipart/form-data">


                            <input class="dbform_name" placeholder="Name" type="text" id="name" name="name" required>


                            <textarea name="description" class="dbform_descriptn" placeholder="Description"
                                id="description" required></textarea>

                            <input type="file" name="image" class="dbform_img" required>


                            <button class="dbform_btn">Upload</button>

                    </div>

                    </form>
                </div>



            </div>
            <!--end foto ekleme-->

            






            <!-- end footer -->
            <%- include("partials/_footer") %>




                <script>



                    function loadContent(url) {
                        fetch(url)
                            .then(response => response.text())
                            .then(data => {
                                const contentContainer = document.querySelector('.iframecontent');
                                contentContainer.innerHTML = data;
                            })
                            .catch(error => {
                                console.error('An error occurred while loading content:', error);
                            });
                    }

                    document.addEventListener('DOMContentLoaded', () => {
                        const defaultURL = '/profile'; // Başlangıçta yüklenecek sayfanın URL'si
                        loadContent(defaultURL); // Başlangıçta profil sayfasını yükle

                        const dashboardLinks = document.querySelectorAll('.dashboard-link');

                        dashboardLinks.forEach(link => {
                            link.addEventListener('click', event => {
                                event.preventDefault();
                                const url = link.getAttribute('href');
                                loadContent(url);
                            });
                        });
                    });








                    // Form gönderme ve geçerlilik kontrolleri
                    document.addEventListener("DOMContentLoaded", function () {
                        const form = document.getElementById("request");

                        form.addEventListener("submit", async function (event) {
                            const nameInput = document.getElementById("name");
                            const descriptionInput = document.getElementById("description");

                            let isValid = true;

                            if (nameInput.value.trim() === "") {
                                isValid = false;
                                alert("Lütfen isim alanını boş bırakmayınız!");
                            }

                            if (descriptionInput.value.trim() === "") {
                                isValid = false;
                                alert("Lütfen açıklama alanını boş bırakmayınız!");
                            }

                            if (!isValid) {
                                event.preventDefault(); // Geçerli değilse formu göndermeyi engelle
                            } else {
                                // Formu sunucuya gönderme işlemi veya başka işlemler
                                // ...


                            }
                        });
                    });



                    // Modal işlemleri
                    const closeModalBtn = document.getElementById("closeModalBtn");
                    const openModalBtn = document.getElementById("openModalBtn");
                    const modal = document.querySelector(".foto_ekleme_modal");
                    const modalContent = modal.querySelector(".dbmodal"); // Modal içeriği

                    closeModalBtn.addEventListener("click", function () {
                        modal.style.display = "none"; // Modalı kapat
                    });

                    openModalBtn.addEventListener("click", function () {
                        modal.style.display = "flex"; // Modal görünür hale getir
                    });

                    window.addEventListener("click", function (event) {
                        if (event.target === modal) {
                            modal.style.display = "none";
                        }
                    });

                    document.addEventListener("DOMContentLoaded", function () {
                        modal.style.display = "none"; // Sayfa yüklendiğinde modalı gizle
                    });

                    // Sayfa yüklendiğinde modalı ortala
                    window.addEventListener("load", function () {
                        centerModal();
                    });





                </script>