<%- include("partials/_header") %>




  <body>
    <div class="followersbody">
      <div class="followerscontainer">
        <% if (followers.length> 0) { %>
          <% followers.forEach(follower=> { %>
            <div class="followerscard">
              <div class="followerscard-header">
                <img class="followersuser-avatar"
                  src="https://marketplace.canva.com/EAFfyNv3EC4/2/0/1600w/canva-orange-black-modern-facebook-profile-picture-17RW-gVJo5k.jpg"
                  alt="User Avatar">
                <div><a class="followersuser-name" href="/users/<%= follower._id %>">
                    <%= follower.username %>
                  </a></div>
              </div>
              <div class="followerscard-photos">
                <% if (follower.photos && follower.photos.length> 0) { %>
                  <% follower.photos.forEach(photo=> { %>
                    <div class="followersphoto-card">
                      <img class="followersphoto-image" src="<%= photo.url %>" alt="Photo">
                      <div class="followersphoto-description">
                        <p>
                          <%= photo.description %>
                        </p>
                      </div>
                    </div>
                    <% }); %>
                      <% } else { %>
                        <p style="font-family: sans-serif; font-size: 16px; color: crimson;">
                          Hello ı am <%= follower.itsname %>
                            <%= follower.itssurname %>
                        </p>
                        <% } %>
              </div>
            </div>
            <% }); %>
              <% } else { %>
                <div style="display: flex; align-items: center; justify-content: center;">
                  <p style="width: 100%;
    color: crimson; font-family: sans-serif;
     font-size: 35px;
     text-align: center;
     font-weight: 900; text-transform: uppercase;">No Followings to display</p>

                  <div class="postscard">

                    <div class="postscard-header">
                      <div><a class="postsuser-name">SULEYMAN KILINC</a></div>
                    </div>
                    <img class="postscard-image"
                      src="https://res.cloudinary.com/dwcgw2rci/image/upload/v1693225719/lenslight_tr/anime-sad-gif-1_q5r3tx.gif"
                      alt="Card Image">
                    <div class="postscard-description">
                      <p style="font-family: sans-serif;
          font-size: 18px; color: #151515;">:((</p>
                    </div>
                  </div>



                  <% } %>
                </div>

      </div>
    </div>











    <script>


    </script>



  </body>

  </html>