<%- include("partials/_header") %>

  <!-- body -->

  <body style="background-color: #f5f5f5;">



    <!-- header -->
    <%- include("partials/_menu") %>

      <!-- end header inner -->


      <!-- Fotoğraf Detayı -->
      <div class="forphoto-photo-detail">
        <div class="forphoto-photo-info">
        
          <% if (isOwner) { %>
            <div class="forphoto-photo-actions">
              <ul>
                <li>
                  <button class="forphoto-update-button" data-toggle="modal" data-target="#updateModal" id="openModalButton">Update</button>
                </li>
                <li>
                  <a style="display: flex; align-items: center; justify-content: center;" href="/photos/<%= photo._id %>/?_method=DELETE"
                    onclick="return confirm('Silmek istediğine emin misin?')">Delete</a>
                </li>
              </ul>
            </div>
            <% } %>
        </div>
        <div class="forphoto-photo-image">
          <figure><img src="<%= photo.url %>" alt="<%= photo.name %>"></figure>
        </div>
      </div>
      <!-- End Fotoğraf Detayı -->

     
      <!-- Update Modal -->
      <div id="updateModal" class="forphoto-modal">
        <div class="forphoto-modal-dialog">
          <div class="forphoto-modal-content">
            <button id="closeModalButton" class="forphoto-close-button" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="forphoto-modal-body">
              <div class="forphoto-modal-header">
                <h2>Photo Settings</h2>
              </div>
              <div class="forphoto-modal-form">
                <form id="request" method="POST" action="/photos/<%= photo._id %>?_method=PUT"
                  enctype="multipart/form-data">
                  <div class="forphoto-form-group">
                    <input value="<%= photo.name %>" placeholder="Name" type="text" name="name" readonly>
                  </div>
                  <div class="forphoto-form-group">
                    <textarea name="description" style="height: 150px;" placeholder="Description"
                      rows="5"><%= photo.description %></textarea>
                  </div>
                  <div class="forphoto-form-group">
                    <input type="file" name="image">
                  </div>
                  <div class="forphoto-form-group">
                    <div class="forphoto-submit-button">
                      <button>Update Photo</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


      <script>
        // Modalı açmak için düğme tıklamasını dinle
        document.getElementById("openModalButton").addEventListener("click", function () {
          document.getElementById("updateModal").style.display = "block";
        });

        // Modalı kapatmak için kapatma düğmesi veya dışarı tıklama olayını dinle
        document.getElementById("closeModalButton").addEventListener("click", function () {
          document.getElementById("updateModal").style.display = "none";
        });

        // Dışarıya tıklama ile modalı kapatma
        window.addEventListener("click", function (event) {
          var modal = document.getElementById("updateModal");
          if (event.target == modal) {
            modal.style.display = "none";
          }
        });
      </script>



      <%- include("partials/_footer") %>