<%- include("partials/_header") %>
   <!-- body -->

   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images\loading2.gif" alt="#" /></div>
      </div>
      <!-- end loader -->


      <!-- header -->
      <%- include("partials/_menu") %>
         <!-- end header inner -->



         //photos


         <div class="photoscontainer">

            <% if (photos.length> 0) { %>
               <% photos.reverse().forEach(photo=> { %>
                  <div class="postscard">
                     <div class="postscard-header">
                        <img class="postsuser-avatar" src="<%= photo.url %>" alt="User Avatar">
                        <div>


                           <a class="postsuser-name"
                              href="<%= photo.user.equals(user._id) ? '/users/dashboard' : '/users/' + photo.user._id %>">
                              <%= photo.uploadedBy %>
                           </a>


                        </div>
                     </div>
                     <img class="postscard-image " src="<%= photo.url %>" alt="Card Image">
                     <div class="photo-description">
                        <p style="width: 100%;
                        color: #333; font-family: sans-serif;
                         font-size: 18px;
                         text-align: center;
                         font-weight: 900;">
                           <%= photo.description %>
                        </p>
                     </div>
                  </div>
                  <% }); %>
                     <% } else { %>
                        <p style="width: 100%;
                        color: crimson; font-family: sans-serif;
                         font-size: 35px;
                         text-align: center;
                         font-weight: 900; text-transform: uppercase;">No posts to display except</p>
                        <div class="postscard">
                           <div class="postscard-header">
                              <div>
                                 <a class="postsuser-name">SULEYMAN KILINC</a>
                              </div>
                           </div>
                           <img class="postscard-image"
                              src="https://res.cloudinary.com/dwcgw2rci/image/upload/v1693225719/lenslight_tr/anime-sad-gif-1_q5r3tx.gif"
                              alt="Card Image">
                           <div class="postscard-description">
                              <p style="font-family: sans-serif;
                  font-size: 18px; color: #151515;">:((</p>
                           </div>
                        </div>
                        <% } %>

         </div>


         //photos end








         <!--footer -->

         <%- include("partials/_footer") %>
            <!-- end footer -->