<%- include("partials/_header") %>

    <!-- body -->

    <body>


    


        <!-- header -->

        <%- include("partials/_menu") %>

            <!-- end header -->
            <div class="userbody">
                <div class="userprofile">
                    <div class="userprofile-header">
                        <h2>
                            <%= user.username %>
                        </h2>
                        <p>
                          Joined  <%= user.createdAt %>
                        </p>
                        <img src="https://marketplace.canva.com/EAFfyNv3EC4/2/0/1600w/canva-orange-black-modern-facebook-profile-picture-17RW-gVJo5k.jpg" alt="<%= user.username %>">
                    </div>
                    <div class="userprofile-actions">
                        <% if (!inFollowers) { %>
                            <a href="/users/<%= user._id %>/follow?_method=PUT" class="userfollow-button">Follow</a>
                            <% } else { %>
                                <a href="/users/<%= user._id %>/unfollow?_method=PUT"
                                    class="userunfollow-button">Unfollow</a>
                                <% } %>
                    </div>
                </div>

                <h2 class="userphoto-galleryh2">
                    <%= user.username %> Posts
                </h2>

                <div class="userphoto-gallery">
                
                    <div class="usergallery-container">
                        <% for (photo of photos) { %>
                           
                     <div class="postscard">

                        <div class="postscard-header">
                           <img class="postsuser-avatar" src="<%= photo.url %>" alt="User Avatar">
                           <div><a class="postsuser-name" href="/users/<%= user._id %>">
                                 <%= photo.uploadedBy%>
                              </a></div>
                        </div>
                        <img class="postscard-image" src="<%= photo.url %>" alt="Card Image">
                        <div class="postscard-description">

                           <%= photo.description %>

                        </div>

                     </div>
                            <% } %>
                    </div>
                </div>



            </div>


          
            <!-- end footer -->
            <%- include("partials/_footer") %>